.bottomBar {
  height: 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  font-family: 'SUITE-Regular';
  font-weight: normal;
  font-size: 0.85rem;
  color: #fff;
  background-color: var(--bottombar-bg);
  border-top: 1px solid var(--bottombar-border);

  
  .container {
    display: flex;
    align-items: center;
    margin-right: 8px;
    cursor: pointer;
    padding: 0 4px;
    color: inherit;

     
  .section {
    display: flex;
    margin-right: 0.5rem;
    height: 24px;
    align-items: center;
    padding: 0 0.2rem;
    cursor: pointer;
    font-family: 'SUITE-Regular';
  
    a{
      color: white;
      text-decoration: none;
    }
    .icon {
      margin-right: 4px;
    }

    &:hover {
      background: var(--bottombar-hover-bg);
    }
    
  }
  
  }

}
  @media screen and (max-width: 600px) {
    .bottomBar {
      font-size: 0.6rem;
    }
    .section {
      margin-right: 0.5rem;
    }
  }
